body{
  margin:0;
  font-family: sans-serif;
}

.container {
  width:100%;
  display: flex;
  justify-content: center;
}

.container .icon {
  height: 38px;,
  margin-top:20px;
  margin-top: 19px;
  background: grey;
  padding: 6.7px;
}

.container .heading {
  padding: 15px;
  background-color: #d64267;
  color:white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 500;
  width:auto;
  text-decoration: none;
}

.container .heading1 {
  padding: 15px;
  background-color: #2dc1c4;
  color:white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 500;
  width:auto;
}

.outerMenuContainer{
  width:100%;
}

.container .heading2 {
  padding: 15px;
  background-color: #d9e050;
  color:white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 500;
  width:auto;
}

.bgImage{
    height: 100vh;
    background-image: url(client/assets/images/bg.jpeg);
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
